.JobCard {
    display: flex;
    justify-content: space-between;
    align-items: start;
    border: 1px solid #0047b1;
    margin-top: 10px;
    padding: 10px;
    background-color: #FFFFFF;

    .Data {
        display: flex;
        justify-content: start;
        align-items: start;
        gap: 10px;

        img {
            width: 150px;
        }

        .content {
            .title {
                font-size: 20px;
                font-weight: 600;
            }

            .city {
                margin: 10px 0;
            }

            .sector {
                font-size: 14px;
                font-weight: 500;
            }

            .desc {
                color: #707070 !important;
            }
        }
    }

    .actions {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;

        img {
            width: 30px;
            height: 30px;
            cursor: pointer;
        }
    }
}

@media (max-width: 558px) {
    .JobCard {
    
        .Data {
    
            img {
                width: 100px;
            }
    
            .content {
                .title {
                    font-size: 16px;
                }
    
                .city {
                    margin: 5px 0;
                    font-size: 14px;
                }
    
                .sector {
                    font-size: 14px;
                }
    
                .desc {
                    font-size: 12px;
                }
            }
        }
    
        .actions {
 
            img {
                width: 20px;
                height: 20px;
            }
        }
    }
}
