.DefaultLayout {
    background-color: #FFFFFF !important;
    display: flex;
    gap: 15px;
    width: 100%;
    min-height: 620px;
    padding: 20px;

    .Content {
        overflow-y: hidden;
        width: 1640px;
    }

    .toggleFilter {
        display: none;
    }
}

@media (max-width: 820px) {
    .DefaultLayout {
        padding: 20px 0px;

        .Content {
            margin-top: 65px;
        }

        .toggleFilter {
            display: block;
            background-color: #FFFFFF;
            width: 100%;
            height: 65px;
            display: flex;
            justify-content: end;
            align-items: center;
            position: absolute;
            top: 0;
            box-shadow: 0 2px 10px #1e20251f;

            img {
                width: 24px;
                height: 24px;
                margin: 0 20px;
            }
        }
    }
}