@import url('https://fonts.googleapis.com/css2?family=Almarai&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    color: var(--tx1) !important;
    direction: ltr;
}
  
html {
    position: relative;
}
  
html,
body {
    overflow-x: hidden;
    padding: 0 !important;
    background-color: #FFFFFF;
}

body {
    overflow-x: hidden;
}
  
#__next {
      height: 100%;
}
  
*::-webkit-scrollbar {
    background-color: var(--bg1);
    width: 9px;
    height: 9px;
}

*::-webkit-scrollbar-thumb {
    background-color: #a6a6a6;
    border-radius: 4px;
}
