.SideBar {
    height: 100%;
    min-height: 900px;
    width: 270px;
    border: 1px solid #707070;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 10px;

    .filter {

        .title {
            font-size: 24px;
            font-weight: 600;
        }

        .value {
            
            .lbl {
                display: flex;
                gap: 10px;
            }
        }
    }

    .close {
        display: none;
    }
}

@media (max-width: 820px) {
    .SideBar {
        position: absolute;
        left: 0;
        top: 0;
        background-color: #FFFFFF;
        height: 100%;
        min-height: 900px;
        width: 270px;
        border: 1px solid #707070;
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: start;
        gap: 10px;
 
        .filter {
    
            .title {
                font-size: 24px;
                font-weight: 600;
            }
    
            .value {
                
                .lbl {
                    display: flex;
                    gap: 10px;
                }
            }
        }

        .close {
            cursor: pointer;
            display: block;
            position: absolute;
            right: 10px;
            top: 10px;
            font-size: 24px;
            font-weight: 600;
        }
    }
}
